<!DOCTYPE html>
<html>
<head>
    <title>Edit Dynasty - {{ dynasty.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Edit Dynasty</h1>
    <form action="{{ url_for('edit_single_dynasty', dynasty_id=dynasty.id) }}" method="POST">
        <input type="text" name="name" value="{{ dynasty.name }}" required><br>
        <input type="text" name="description" value="{{ dynasty.description }}" required><br>
        <button type="submit">Update Dynasty</button>
    </form>
    <a class="back-link" href="{{ url_for('edit_dynasty_page') }}">Back to Edit List</a>
</body>
</html>
