<!DOCTYPE html>
<html>
<head>
    <title>Select Dynasty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Select a Dynasty</h1>
    <div class="box">
        {% for dynasty in dynasties %}
            <div class="item">
                <a href="{{ url_for('dynasty_page', dynasty_id=dynasty.id) }}">{{ dynasty.name }}</a>
            </div>
        {% endfor %}
        {% if not dynasties %}
            <p>No dynasties available.</p>
        {% endif %}
    </div>
    <a class="btn-link back-btn" href="/home">⬅ Go Back to Menu</a>
</body>
</html>
